.dice {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 50px;

  .dice__header {
    font-size: min(40px, 10vw);
    color: var(--primaryColor);
    font-weight: bold;

    .dice__X {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: var(--fontColor__onSurface);
      color: transparent;
    }
  }

  .dice__buttons{
    display: flex;
    align-items: center;
    gap: 50px;

    button{

      mat-icon{
        font-size: 18px;
        height: fit-content;
        width: fit-content;
      }
    }

    .dice__addDice{
      display: flex;
      gap: 15px;
      align-items: center;

      .dice__dicePreview{
        display: flex;
        align-items: center;
        gap: 5px;

        .dice__diceSvg{
          content: url("/assets/images/dice/dice.svg");
          height: 40px;
        }
      }

      button{
        padding: 2px;
      }

      img{
        width: 40px;
      }
    }
  }

  .dice__results{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 40px;
    justify-content: center;

    .dice__result{
      display: flex;
      align-items: center;

      .dice__faceSvg{
        height: 40px;
      }

      #dice1Svg{
        content: url("/assets/images/dice/dice-1.svg");
      }

      #dice2Svg{
        content: url("/assets/images/dice/dice-2.svg");
      }

      #dice3Svg{
        content: url("/assets/images/dice/dice-3.svg");
      }

      #dice4Svg{
        content: url("/assets/images/dice/dice-4.svg");
      }

      #dice5Svg{
        content: url("/assets/images/dice/dice-5.svg");
      }

      #dice6Svg{
        content: url("/assets/images/dice/dice-6.svg");
      }
    }
  }

  .dice__diceElements{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .dice__diceWrapper {
      width: 150px;
      aspect-ratio: 1;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}


