:root {
  --fontColor__onSurface: white;
  --fontColor__onPrimary: black;
  --fontFamily: Tahoma, sans-serif;
  --backgroundColor: #181818;
  --surfaceColor: #2E2E2E;
  --primaryColor: #EFF248;
}

html{
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--fontColor__onSurface);
  background-color: var(--backgroundColor);
  font-family: var(--fontFamily);
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 10px;
  background-color: transparent;
  border: 1px solid var(--fontColor__onSurface);
  color: var(--fontColor__onSurface);
  gap: 5px;
}

button:hover{
  cursor: pointer;
  background-color: var(--primaryColor);
  color: var(--fontColor__onPrimary);
  border: 1px solid transparent;
}

.clickableMatIcon:hover{
  cursor: pointer;
  color: var(--primaryColor);
}


//        ------------- Scrollbar ---------------

* {
  scrollbar-width: auto;
  scrollbar-color: var(--accentColor) transparent;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 2px;
  border: none;
}
