:root {
  --fontColor__onSurface: white;
  --fontColor__onPrimary: black;
  --fontFamily: Tahoma, sans-serif;
  --backgroundColor: #181818;
  --surfaceColor: #2E2E2E;
  --primaryColor: #EFF248;
}

html{
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--fontColor__onSurface);
  background-color: var(--backgroundColor);
  font-family: var(--fontFamily);
}

.clickableMatIcon:hover{
  cursor: pointer;
  color: var(--primaryColor);
}


//        ------------- Scrollbar ---------------

* {
  scrollbar-width: auto;
  scrollbar-color: var(--accentColor) transparent;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 2px;
  border: none;
}
