<div class="startPage">
  <div>
    <div>TOOLBOX</div>
    <div class="toolBoxText">TOOLBOX</div>
    <div>TOOLBOX</div>
  </div>
  <div>
    <div class="tools__header">
      <span class="tools__headerX">XXX </span>BELIEBT <span class="tools__headerX">XXX</span>
    </div>
    <div class="tool" (click)="router.navigate(['wheel'])">
      <div class="tool__header"><span class="tool__headerNr">#1</span><strong> WHEEL</strong></div>
    </div>
    <div class="tool">
      <div class="tool__header"><span class="tool__headerNr">#2</span><strong> TOOL Y</strong></div>
    </div>
    <div class="tool">
      <div class="tool__header"><span class="tool__headerNr">#3</span><strong> TOOL Z</strong></div>
    </div>
  </div>
</div>
