<div class="startPage">
  <div>
    <div>TOOLBOX</div>
    <div class="toolBoxText">TOOLBOX</div>
    <div>TOOLBOX</div>
  </div>
  <div>
    <div class="tools__header">
      <span class="tools__headerX">XXX </span>BELIEBT <span class="tools__headerX">XXX</span>
    </div>
    <div class="tool">
      <div class="tool__header">#1 TOOL X</div>
    </div>
    <div class="tool">
      <div class="tool__header">#2 TOOL Y</div>
    </div>
    <div class="tool">
      <div class="tool__header">#3 TOOL Z</div>
    </div>
  </div>
</div>
