.sideMenu{
  position: fixed;
  top: 49px;
  right: 0;
  bottom: 0;
  max-width: 300px;
  width: 65vw;
  background-color: var(--primaryColor);
  box-shadow: -2px 0px 5px 0px var(--surfaceColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;

  .sideMenu__Headline{
    padding: 20px;
    font-size: min(15vw, 80px);
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--fontColor__onPrimary);
  }

  .sideMenu__tools{
    width: 100%;
    border-top: 1px solid var(--surfaceColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    overflow-y: auto;

    .sideMenu__tool{
      padding: 20px 10px;
      font-size: 30px;
      font-weight: bold;
      color: var(--fontColor__onPrimary);
      width: 85%;
      min-height: 70px;
      border-bottom: 1px solid var(--fontColor__onPrimary);
      box-sizing: border-box;
      transition: all 0.1s ease-in-out;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .sideMenu__tool:hover{
      background-color: var(--surfaceColor);
      color: var(--fontColor__onSurface);
      cursor: pointer;
      width: 100%;
    }
  }
}
