<div class="diceElementWrapper">
  <div class="dice__dice" (transitionend)="dice.sortResults() ;dice.isRolling = false">
    <div class="dice__site" id="dice__front">
      <div class="dice__dot"></div>
    </div>
    <div class="dice__site" id="dice__back">
      <div>
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
      </div>
      <div>
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
      </div>
    </div>
    <div class="dice__site" id="dice__left">
      <div>
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
      </div>
      <div>
        <div class="dice__dot"></div>
      </div>
      <div>
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
      </div>
    </div>
    <div class="dice__site" id="dice__right">
      <div>
        <div class="dice__dot"></div>
      </div>
      <div>
        <div class="dice__dot"></div>
      </div>
    </div>
    <div class="dice__site" id="dice__top">
      <div>
        <div class="dice__dot"></div>
      </div>
      <div>
        <div class="dice__dot"></div>
      </div>
      <div>
        <div class="dice__dot"></div>
      </div>
    </div>
    <div class="dice__site" id="dice__bottom">
      <div>
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
      </div>
      <div>
        <div class="dice__dot"></div>
        <div class="dice__dot"></div>
      </div>
    </div>
  </div>
</div>
